.Home {
  text-align: center;
}

.Home-header {
  background-color: #4b08ea;
  background-image: linear-gradient(94deg, #4b08ea 0%, #2AF598 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container{
  padding-bottom: 20px;
}
